body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.container {
	width: 1200px;
	margin: auto;
	display: flex;
	gap: 20px;
	padding: 20px 0;
}

/*header*/

.navbar {
    width: 1200px;
    margin: auto;
    display: flex;
    gap: 20px;
    padding: 30px;
    font-size: 18px;
}

.logo {
    width: 200px;
    cursor: pointer;
}

nav {
    text-align: right;
    width: 1000px;
}

nav ul {
    margin: 0;
}

nav ul li {
    display: inline-block;
    padding-left: 20px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: pink;
    font-weight: 800;
}

.achtergrond {
    position: relative;
    display: flex;
    height: 100vh;
    align-self: center;
}

/*over ons*/

h1 {
    color: black;
}

/*menu*/

/*media*/

/*contact*/

.maps {
    position: relative;
}

/*gdpr*/

h6 {
    font-size: 15px;
    font-weight: 800;
}

/*footer*/

footer {
    background-color: grey;
}

.containerfooter {
  width: 1200px;
  margin: auto;
  display: flex;
  gap: 20px;
  padding: 30px;
}

.kolomfooter{
  width: 400px;
  display: inline-block;
  align-items: center;
  text-align: center;
}

.kolomfooter img {
  width: 25%;
  height: 25%;
}

.uren {
  text-align: center;
}

.contact h3 {
  font-weight: bold;
}
/* voor mediapagina */
.verzameling{
    position: inline-block;
}
.verzameling:nth-child(1){
    float: left;
}
.verzameling:nth-child(2){
    justify-content: flex-end;
    flex-wrap: wrap;
}